<div class="aboutDiv">
    <section class="container-fluid px-0">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div id="headingGroup" class="text-white d-none d-lg-block mt-5">
                    <h1>ABOUT US</h1>
                    <p class="lead">
                        Mosaic ability to stay abreast of the latest in interior design industry coupled with the
                        ingenuity and imagination of Mosaic employees experienced professionals has made Mosaic
                        Interior Designers & Decorators Private Limited a dominant player in this market. Mosaic have
                        successfully completed a diverse range of projects throughout India for hotels, restaurants,
                        financial institutions, hospitality installations, corporate facilities and luxury homes.
                        Mosaic customers are located in communities such as Mumbai, Delhi, Bangalore, Nagpur,
                        Chandigarh, Goa, Dehradun, Pune, Kochi, Guwahati, Ajmer, Jaipur, Lucknow, Hubli, Bhopal,
                        Pathankot, and many other cities of India.
                    </p>
                </div>
            </div>
            
            <div class="col-lg-6">
                <img class="img-fluid" src="../../assets/about.jpg" alt="About Mosaic Image">
            </div>
        </div>
    </section>
    
    <section class="container-fluid px-0">
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img class="img-fluid"
                     src="https://images.unsplash.com/photo-1516455590571-18256e5bb9ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                     alt="">
            </div>
        
            <div class="col-md-6 text-center  order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>LOUNGE AREA DECOR</h2>
                        
                        <p class="lead">
                            The lounge area is normally a bit formal, with comfortable chairs like a Barcelona chair,
                            couches, coffee tables, etc. If you are interested in creating a lounge area I recommend
                            you to check the Barcelona Designs website
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row content">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 align-items-center blurb mb-5 mb-md-0">
                        <h2>KITCHEN DECOR</h2>
                  
                        <p class="lead">
                            At Kitchen decor, we ensure a fixed time period of delivery and make sure it is met. This
                            6-8 weeks of delivery includes installation of your product be it kitchen, wardrobe or any
                            other type of furniture. We always try to abide by the commitment that we have made to our
                            customers as gaining their trust and confidence is of paramount importance.
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="col-md-6 ">
                <img class="img-fluid"
                     src="https://images.unsplash.com/photo-1512914890251-2f96a9b0bbe2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80"
                     alt="">
            </div>
        </div>
        
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img class="img-fluid"
                     src="https://images.unsplash.com/photo-1578683010236-d716f9a3f461?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                     alt="">
            </div>
        
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>BEDROOM DECOR</h2>
                        
                        <p class="lead">
                            Bedrooms are arguably the most important rooms in your house. After all, the master
                            bedroom is where you both start and end your day, while the guest bedroom is the place
                            where you welcome those special overnight guests. That's why we've put together this
                            inspiring bedroom design guide. Mosaic with more than 100 of our best and brightest
                            bedroom decorating ideas, it'll help you visualize your dream space and provide the tips
                            and simple ideas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row content">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 align-items-center blurb mb-5 mb-md-0">
                        <h2>WASHROOM DECOR</h2>
                  
                        <p class="lead">
                            Who says your bathroom can't be the most beautiful room in your home? Yes, it might be
                            short on size, but what bathrooms lack in space, they more than make up for in their
                            ability to be dressed up and reimagined. Here, we're doing our best bathroom décor with
                            you in the hopes that they'll motivate you to renovate, redecorate, and reinvigorate your
                            bathrooms and washrooms. These fresh ideas, fit for every style and budget, will have you
                            excited to add new finishes, trims, chandeliers, runners, exposed bulbs, and more to your
                            space.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 ">
                <img class="img-fluid"
                     src="https://images.unsplash.com/photo-1631067127909-0ea9e6f84179?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80"
                     alt="">
            </div>
        </div>
    </section>
    
</div>