<div class="container-fluid">
    <p>PRESENTING SOME OF OUR<br><span> WORKS AND PROJECTS</span></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-12 column">
            <img src="../../assets/IMG-20200427-WA0064.jpg" style="width:100%" class="hover-shadow cursor">
        </div>
        <div class="col-lg-4 col-12 column">
            <img src="../../assets/IMG-20200427-WA0059.jpg" style="width:100%" class="hover-shadow cursor">
        </div>
        <div class="col-lg-4 col-12 column">
            <img src="../../assets/IMG-20200427-WA0061.jpg" style="width:100%" class="hover-shadow cursor">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-12 column">
            <img src="../../assets/IMG-20200427-WA0063.jpg" style="width:100%" class="hover-shadow cursor">
        </div>
        <div class="col-lg-4 col-12 column">
            <img src="../../assets/IMG-20200427-WA0066.jpg" style="width:100%" class="hover-shadow cursor">
        </div>
        <div class="col-lg-4 col-12 column">
            <img src="../../assets/IMG-20200427-WA0068.jpg" style="width:100%" class="hover-shadow cursor">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-12 column">
            <img src="../../assets/IMG-20200427-WA0069.jpg" style="width:100%" class="hover-shadow cursor">
        </div>
        <div class="col-lg-4 col-12 column">
            <img src="../../assets/IMG-20200427-WA0070.jpg" style="width:100%" class="hover-shadow cursor">
        </div>
        <div class="col-lg-4 col-12 column">
            <img src="../../assets/IMG-20200427-WA0058.jpg" style="width:100%;height: 57%;" class="hover-shadow cursor">
        </div>
    </div>
</div>