form {
    /* border: 3px solid #f1f1f1; */
    width:30vw;
    margin:auto;
}
/*assign full width inputs*/
  
input[type=email],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}
label {
    
    color: #fff;
}
.form-group {
    text-align: left !important;
}
/*set a style for the buttons*/
  
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
/* set a hover effect for the button*/
  
button:hover {
    opacity: 0.8;
   background-color: #f44336;
}
/*centre the display image inside the container*/
  
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
/*set image properties*/
  
img.avatar {
    text-align: center;
    margin:24px 0 12px 0;
    
}
/*set padding to the container*/
  
.container {
    padding: 16px;
    max-width:500px;
    margin-bottom:10px;
}
.container1{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:100px;
    margin-top:100px;
    width:550px;
    height:600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
