<div class="row">
    <div class="col my-5">
        <div class="card bg-dark text-white">
            <img src="https://images.unsplash.com/photo-1554118811-1e0d58224f24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                 class="card-img" alt="image" style="height: 600px;">
            
            <div class="card-img-overlay text-center" style="background: rgba(0, 0, 0, 0.5);">
                <h5 class="card-title mt-4">We are all here for your help. For any queries or any kind of suggestions you are most invited.<br>
                                       We could be pleased to serve you in making your home design beautiful.
                </h5>
                
                <p class="card-text text-info mt-5 fs-3">
                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i> Address <br>
                    <span>Street 58, Near Bridge<br>Kolkata</span>
                </p>

                <p class="card-text text-info fs-3">
                    <i class="fas fa-phone-alt" aria-hidden="true"></i> Let's Talk <br>
                    <span> 9898754522</span>
                </p>

                <p class="card-text text-info mb-5 fs-3">
                    <i class=" far fa-envelope" aria-hidden="true"></i> General Support <br>
                    <span>mosaic78@gmail.com</span>
                </p>
            </div>
        </div>
    </div>
</div>
