<div id="hh">
  <div class="header-left" data-content="MOSAIC">MOSAIC</div>
  
  <div class="header-right">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰</span>
  </div>
</div>

<div id="mySidenav" class="sidenav" style="width: 0px;">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <div class="text-center user" *ngIf="log"><i class="fa-solid fa-user fa-5x"></i></div>
  <a routerLink="" data-content="Home">Home</a>
  <a routerLink="/work" data-content="Works/Projects">Works/Projects</a>
  <a routerLink="/about" data-content="About Us">About Us</a>
  <a routerLink="/contact" data-content="Contact Us">Contact Us</a>
  <a routerLink="/login" *ngIf="!log" data-content="Login">Login</a>
  <a routerLink="/registration" *ngIf="!log" data-content="Registration">Registration</a>
  <a href="" (click)="reset()" *ngIf="log">Logout</a>
</div>
<router-outlet></router-outlet>
<footer>
  <div class="container">
      <div class="row">
          <div class="footer-col col-lg-4 col-md-6">
              <h1 data-content="MOSAIC"><i class="fab fa-mastodon"></i> MOSAIC</h1>
              <p>Interior design is the art and science of enhancing the interior of a building to achieve a
                  healthier and more aesthetically pleasing environment for the people using the space.
                  Mosaic helps in designing your home you like. Contact us now for more information.</p>
          </div>
          
          
          <div class="footer-col col-lg-4 col-md-6">
              <h1 data-content="Navigation Links">Navigation Links</h1>
              
              <div class="foot-link">
                  <a class="footer-link nav-link" routerLink=""><i class="fas fa-home"></i> Home</a>
                  <a class="footer-link nav-link" routerLink="/work"><i class="fas fa-tasks"></i> Projects</a>
                  <a class="footer-link nav-link" routerLink="/about" data-content="About Us"><i class="fas fa-address-card"></i> About Us</a>
                  <a class="footer-link nav-link" routerLink="/contact"><i class="fas fa-id-card-alt"></i> Contact Us</a>
                  <a class="footer-link nav-link" routerLink="/login" *ngIf="!log"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Login</a>
                  <a class="footer-link nav-link" routerLink="/registration" *ngIf="!log"><i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;Registration</a>
                  <a class="footer-link nav-link" *ngIf="log"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;&nbsp;Logout</a>
              </div>
          </div>
          
          <div class="footer-col col-lg-4 ">
              <h1 data-content="Address"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> Address</h1>
              <h6>Street Number: 58 Street <br><br>near bridge<br><br>Place: Kolkata</h6>
              
              <br>
              
              <h1 data-content="Let's Talk"><i class="fas fa-phone-alt" aria-hidden="true"></i> Let's Talk</h1>
              <h6>9898754522</h6>
              
              <br>
              
              <h1 data-content="Email Us"><i class=" far fa-envelope" aria-hidden="true"></i> Email Us</h1>
              <h6>mosaic78@gmail.com</h6>
          </div>
      </div>
  </div>
</footer>