<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <!-- Background Image -->
                <div class="header-text">
                    <h1>THE BEST INTERIOR DESIGN HERE AT YOUR HOME</h1>
                    <br>
                    <br>
                </div>
            </div>

            <h5>“Your Home should tell the story of who you are, and be a Collection of what you Love.” ...</h5>
        </div>
    </div>
</header>

<main>
    <div class="container-fluid">
        <div class="row justify-content-center mrow">
            <div class="col-md-3 mcol">
                <i class="fas mfas fa-desktop fa-3x" aria-hidden="true"></i>
                <h1>DISCOVER</h1>
                <p>Meet your HomeLane designer online or at one of our design </p>
            </div>

            <div class="col-md-3 mcol">
                <i class="fas mfas fa-magic fa-3x" aria-hidden="true"></i>
                <h1>DESIGN</h1>
                <p>Co-create your interior design and get an instant quote, with SpaceCraft</p>
            </div>

            <div class="col-md-3 mcol">
                <i class="fas mfas fa-people-carry fa-3x" aria-hidden="true"></i>
                <h1>MOVE IN</h1>
                <p>Move into your newly furnished home within 45 days of design finalization</p>
            </div>
        </div>
    </div>
</main>

<div class="container-fluid">
    <div class="bg-img1">
        <div class="containerbox" style="display: none;">
            <div class="frame">
                <div class="img1"></div>
                <div class="textbox p-5">ROOMS</div>
            </div>
        </div>

        <div class="containerbox" style="display: none;">
            <div class="frame">
                <div class="img2"></div>
                <div class="textbox p-5">FURNISHING</div>
            </div>
        </div>

        <div class="containerbox" style="display: none;">
            <div class="frame">
                <div class="img3"></div>
                <div class="textbox p-5">DESIGN</div>
            </div>
        </div>

        <div class="containerbox" style="display: none;">
            <div class="frame">
                <div class="img4"></div>
                <div class="textbox p-5">LOUNGE AREA</div>
            </div>
        </div>

        <div class="containerbox" style="display: none;">
            <div class="frame">
                <div class="img5"></div>
                <div class="textbox p-5">HOME DECOR</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-text" style="background-color: darkgrey; height: 100%">
    <div class="head font-effect-fire">ABOUT INTERIOR DESIGN</div>

    <div class="text2">At HomeLane, we believe that interior design is more than great functionality and beautiful
        aesthetics. We aim to make your home interiors a reflection of your personality. Your home should
        be something that you and your family take pride in and love to spend time in. Our efficient,
        customized home interior designs incorporate your needs in every nook of your home, so your space
        meets your every requirement. Our dedicated home interior designers work with you tirelessly to tie
        your style with their design expertise, creating the perfect interior design plan. They will also
        ensure that the plan is executed using the materials of the highest standards. In addition to great
        interior design ideas, you can expect our unwavering support and service for years to come because
        all our products come with a 5 year warranty. Think we are the right fit for your journey to your
        new home? Get a free estimate or a book a free consultation with our interior design team for
        beautiful home interiors. We offer interior design ideas for living room, bedroom and kitchen. We
        specialize in complete modular kitchens, stunning wardrobe designs, timeless TV unit designs, and
        space-saving furniture among other. What’s more, we guarantee beautiful interiors delivered in 45
        days or we pay you rent.
    </div>
</div>

<div class="container-fluid " style="height:400px">
    <div class="bg-img2">
        <div class="head font-effect-neon" style="color: black">Home Interior Designs</div>

        <div class="text font-effect-fire" style="color: black;font-size: 40px;">
            Find design ideas from our design gallery or book a meeting with a dedicated design expert
        </div>
    </div>
</div>